<% var verifieds = run.verified_failure_count, unverifieds = run.unverified_failure_count; %>

<h1>Run on <%= run.human_time %></h1>

<div id="summary" class="<%= run.passed() ? 'passed' : 'failed' %>">
  <% if (run.passed()) { %>
  	<%= run.test_count %> tests passed!  Everything with Facebook was fine.
  <% } else { %>
  	<%= run.verified_failure_count %> of <%= run.test_count %> tests failed.
  <% } %>
    
  <% if (verifieds > 0) { %> 
    <h4><%= verifieds %> Failure<%= verifieds > 1 ? "s" : "" %></h4>

    <p>
      <% if (verifieds > 1) { %>
        All of these failures were reproduced in subsequent identical tests and could be real errors in the API.
      <% } else { %>
        This failure was reproduced in a subsequent identical test and could be a real error in the API.
      <% } %>
    </p>

    <ul id="failureList">
      <% for (var i = 0; i < run.verified_test_cases.length; i++) {
          testCase = run.verified_test_cases[i]; %>
          <li id="testCase<%= test_case.id %>">
            <div class="title"> <%= test_case.title %></div>
            <div class="failureMessage"><%= test_case.failure_message %></div>
            <%= formatted_backtrace(test_case) %>
          </li>
      <% } %>
    </ul>
  <% } %>


  <% if (unverifieds > 0) { %>
    <h4><%= unverifieds %> Unverified Issue<%= unverifieds > 1 ? "s" : "" %></h4>

    <p>
      <% if (unverifieds > 1) { %>
        The following errors could not be reproduced, and probably represent transient API glitches or connectivity problems.
      <% } else { %>
        The following error could not be reproduced, and probably represents a transient API glitch or connectivity problem.
      <% } %>
    </p>

    <ul id="unverifiedFailureList">
      <% for (var i = 0; i < run.unverified_test_cases.length; i++) {
          testCase = run.unverified_test_cases[i]; %>
          <li id="testCase<%= test_case.id %>">
            <div class="title"> <%= test_case.title %></div>
            <div class="failureMessage"><%= test_case.failure_message %></div>
            <%= formatted_backtrace(test_case) %>
          </li>
      <% } %>
    </ul>
  <% } %>
</div>

<a href="/runs/index?page=<%= page %>">Back</a>
